* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
  }
#headerwrap{
    display: block;
    background-color: white;
    height: 100px;
}
h1{
    font-size: 60px;
    text-align: center;
    color: black;
    line-height: 100px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}
#myForm{
	display: block;
    background-color: white;
    margin: auto;
  	width: 50%;
  	text-align:center;
  	border-radius: 10px;
  	margin-top: 10%;
  	height: 80%;
}
.label{
	display: inline-block;
	width: 200px;
}

.enterDetails{
  padding: 10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 16px;
  margin:5px 0;
  width: 70%;
  font-size: 15px; 
}

.button {
  padding: 10px;
  background-image: linear-gradient(to bottom right, #ff0000, #ffe600);
  border: 0;
  border-radius: 16px;
  margin:5px 0;
  width: 70%;
  font-size: 15px; 
}
body{
	background-color: red; /* For browsers that do not support gradients */
  	background-image: linear-gradient(to bottom right, #ff0000, #ffe600);
  	background-repeat: no-repeat;
    background-attachment: fixed;
}
html{
	height: 100%;
}
p{
	color: #111; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 30px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 75px;
}
a:link{
	color: #4f4f4f;
}
a:visited{
	color: #4f4f4f;
}
a:hover{
	color: black;
}
a {
	text-decoration: none;
	line-height: 25px;
}
